<!DOCTYPE html>
<html lang="en" data-ng-app="{module}App" data-ng-csp>
	<head data-ng-controller="IotHeadCtrl">

		<title>{#title}Loading...{/title}</title>

		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!--external CSS stylesheets-->
		{#extStyles}<link rel="stylesheet" type="text/css" href="{.}" />{/extStyles}

		{!{>head/}!}

	</head>
	<body data-ng-controller="IotRootCtrl">

		<header>
			{!{% block header %}{% endblock %}!}
		</header>

		<section class="content">
			{>"{module}.html"/}
		</section>

		<footer>
			{!{% block footer %}{% endblock %}!}
		</footer>

		<!--external JavaScript scripts-->
		{#extScripts}<script type="text/javascript" src="{.}"></script>{/extScripts}

	</body>
</html>