{!{% extends 'layout.html' %}

{% block title %}Login Page{% endblock %}

{% block otherMeta %}

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}!}

	<form method="post" action="/auth/login" enctype="application/x-www-form-urlencoded" id="loginForm" name="loginForm">

		<fieldset>

			<legend>Log In</legend>

			<input type="text" id="loginUser" name="loginUser" autocomplete="on" placeholder="username@email.com" />

			<input type="password" id="loginPass" name="loginPass" autocomplete="off" placeholder="********" />

			<button class="btn btn-info" type="submit">Log In</button>

			<a ui-sref="signup"></a>

		</fieldset>

	</form>

{!{% endblock %}

{% block footer %}

{% endblock %}!}