<form method="put" action="/signup" enctype="application/x-www-form-urlencoded" id="signupForm" name="signupForm">
	<fieldset>
		<input type="text" data-ng-model="newUser.username" autocomplete="on" id="loginUser" name="loginUser" placeholder="username" ng-required="true" />
		<input type="text" data-ng-model="newUser.email" autocomplete="on" id="email" name="email" placeholder="person@email.com" ng-required="false" />
		<input type="password" data-ng-model="newUser.password" autocomplete="off" id="loginPass" name="loginPass" placeholder="********" ng-required="true" />
	</fieldset>

	<fieldset>
		<input type="text" data-ng-model="newUser.prefix" autocomplete="on" id="prefix" name="prefix" placeholder="Mr., Miss, Mrs., Ms." ng-required="false" />
		<input type="text" data-ng-model="newUser.firstName" autocomplete="on" id="firstName" name="firstName" placeholder="John" ng-required="false" />
		<input type="text" data-ng-model="newUser.middleName" autocomplete="on" id="middleName" name="middleName" placeholder="Smith" ng-required="false" />
		<input type="text" data-ng-model="newUser.lastName" autocomplete="on" id="lastName" name="lastName" placeholder="Doe" ng-required="false" />
		<input type="text" data-ng-model="newUser.suffix" autocomplete="on" id="suffix" name="suffix" placeholder="Jr., III..." ng-required="false" />
	</fieldset>

	<fieldset>
		<input type="text" data-ng-model="newUser.born" autocomplete="on" id="birthDate" name="birthDate" placeholder="MMM/DD/YYYY" ng-required="false" />
	</fieldset>

	<fieldset>
		<textarea data-ng-model="newUser.aboutMe" autocomplete="on" id="aboutMe" name="aboutMe" placeholder="About Me" ng-required="off"></textarea>
	</fieldset>
</form>