{
  "env": {
    "browser": true
  },
  "globals": {
    "require": true,
    "module": true,
    "exports": true
  },
  "rules": {
    "no-cond-assign": [1],
    "no-console": [0],
    "no-control-regex": [1],

    "block-scoped-var": [1],
    "no-div-regex": [2],
    "no-else-return": [2],
    "no-return-assign": [0],
    "no-self-compare": [2],

    "no-catch-shadow": [0],
    "no-shadow": [0],
    "no-unused-vars": [1],

    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "comma-style": [2, "last"],
    "no-wrap-func": [0],

    "quotes": [1, "single", "avoid-escape"]
  }
}