## Mac OS X file properties ##
.DS_Store # proprietary Desktop Store

######### cache files ########
##############################
app/.cache/ # app cache

############ node ############
##############################
node_modules/ # modules folder
npm-debug.log # npm debug log

########### bower ############
##############################
app/min-libs/ # development libraries
dist/min-libs/ # production libraries

######## built files #########
##############################
dist/
app/modules/*/css/
app/modules/*/js/
app/index*.js
app/app*.js

######## temp files ##########
.temp/

######### log files ##########
log/
app/log/
dist/log/
phantomjsdriver.log