## Mac OS X file properties ##
.DS_Store # proprietary Desktop Store

######### cache files ########
##############################
app/cache/ # app cache
app/.sass-cache # Sass's cache

############ node ############
##################
node_modules/ # modules folder
npm-debug.log # npm debug log

########### bower ############
##############################
app/min-libs/ # development libraries
dist/min-libs/ # production libraries
